@import "../vars";
.display1 {
    font-weight: 500;
    font-size: 88px;
    line-height: 114%;
    color: $blue;
}

.display2 {
    font-weight: 500;
    font-size: 64px;
    line-height: 122%;
    color: $blue;
}

.display3 {
    font-weight: 500;
    font-size: 72px;
    line-height: 119%;
    color: $blue;
}

@media screen and (max-width: 1500px) {
    .display1 {
        font-size: 70px;
    }
    .display3 {
        font-size: 62px;
    }
}

@media screen and (max-width: 1200px) {
    .display1 {
        font-size: 58px;
    }
    .display2 {
        font-size: 52px;
    }
    .display3 {
        font-size: 52px;
    }
}

@media screen and (max-width: 992px) {
    .display1 {
        font-size: 50px;
    }
    .display2 {
        font-size: 45px;
    }
    .display3 {
        font-size: 48px;
    }
}

@media screen and (max-width: 768px) {
    .display1,
    .display3,
    .display2 {
        font-size: 32px;
        line-height: 138%;
    }
    // .display2 {
    //     font-size: 32px;
    //     line-height: 150%;
    // }
}