<div class="modal fade" id="consultModal" aria-labelledby="consultModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal__top">
            <div class="modal__title display2">Оставьте заявку</div>
            <button type="button" class="modal__close" data-bs-dismiss="modal" aria-label="Close">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.3334 8.54666L23.4534 6.66666L16.0001 14.12L8.54675 6.66666L6.66675 8.54666L14.1201 16L6.66675 23.4533L8.54675 25.3333L16.0001 17.88L23.4534 25.3333L25.3334 23.4533L17.8801 16L25.3334 8.54666Z" fill="#323232"/>
                </svg>
            </button>
        </div>

        <div class="modal__content">
            <form action="" class="modal__form">
                <div class="modal__form-grid">
                    <fieldset class='form-group form-group--error'>
                        <label>ИНН</label>
                        <input type='text' placeholder="Введите номер ИНН" />
                        <span class="form-group__error-text">Error</span>
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Наименование должника</label>
                        <input type='text' placeholder="Введите должника" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Телефон</label>
                        <input type='tel' placeholder="Введите телефон" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Сумма долга, руб.</label>
                        <input type='text' placeholder="Введите сумму долга" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Имя</label>
                        <input type='text' placeholder="Введите Ваше имя" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Получено судебное решение?</label>
                        <div class="custom-select">
                            <div class="custom-select__target">
                                <input type="text" placeholder="Выберите ответ">
                            </div>
                            <div class="custom-select__dropdown">
                                <div class="custom-select__dropdown-inner">
                                    <div class="custom-select__dropdown-item">Да</div>
                                    <div class="custom-select__dropdown-item">Нет</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Почта</label>
                        <input type='email' placeholder="Введите Вашу почту" />
                    </fieldset>
                    <fieldset class='form-group'>
                        <label>Получен исполнительный лист</label>
                        <div class="custom-select">
                            <div class="custom-select__target">
                                <input type="text" placeholder="Выберите ответ">
                            </div>
                            <div class="custom-select__dropdown">
                                <div class="custom-select__dropdown-inner">
                                    <div class="custom-select__dropdown-item">Да</div>
                                    <div class="custom-select__dropdown-item">Нет</div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <button class="modal__form-btn btn btn-blue">Оставить заявку</button>
            </form>
        </div>

    </div>
</div>

<!-- <div class="modal-backdrop show"></div> -->