@import 'vars';
.main {
    overflow: hidden;
    margin-top: -196px;
    &__inner {
        padding: 250px 0 150px;
        position: relative;
    }
    &__title {
        max-width: 785px;
    }
    &__desc {
        margin-top: 24px;
        line-height: 167%;
        max-width: 785px;
    }
    &__btn {
        width: 445px;
        height: 84px;
        margin-top: 64px;
    }
    &__img {
        position: absolute;
        left: 820px;
        top: 160px;
        width: 600px;
        img {
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }
}

.money-back {
    padding: 135px 0;
    &__title {
        max-width: 630px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 172px;
    }
    &__left {
        padding-top: 90px;
        flex-shrink: 0;
        width: 670px;
    }
    &__img {
        img {
            width: 100%;
        }
    }
    &__right {
        flex-grow: 1;
        max-width: 530px;
        margin-left: 30px;
    }
    &__subtitle {
        font-size: 32px;
        line-height: 138%;
        text-decoration-line: underline;
        color: $blue;
        cursor: pointer;
    }
    &__list {
        margin-top: 80px;
        li {
            line-height: 167%;
            padding-left: 60px;
            position: relative;
            &:not(:last-child) {
                margin-bottom: 71px;
            }
            &:before {
                content: '';
                position: absolute;
                z-index: 1;
                width: 44px;
                height: 44px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: #F4EEFF;
                background-image: url(../img/check.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    &__btn {
        margin-top: 55px;
        width: 499px;
        height: 84px;
        max-width: 100%;
    }
}

.how-sell {
    padding: 260px 0 160px;
    &__items {
        margin-top: 111px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 95px 30px;
    }
    &__item {
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(172, 132, 254, 0.15);
        border-radius: 16px;
        min-height: 163px;
        padding: 60px 32px 32px;
        display: flex;
        align-items: flex-end;
        position: relative;
        &-num {
            position: absolute;
            top: -47px;
            left: 32px;
            color: #F4EEFF;
            font-weight: 700;
            font-size: 96px;
            line-height: 108px;
        }
        &-title {
            line-height: 167%;
        }
    }
}

.consult {
    padding: 210px 0 80px;
    &__inner {
        padding: 64px;
        background: linear-gradient(269.92deg, #F4EEFF 22.27%, #D9E0FF 71.97%);
        border-radius: 50px;
        position: relative;
    }
    &__desc {
        line-height: 167%;
        margin-top: 24px;
        color: $grey;
    }
    &__btn {
        width: 292px;
        height: 84px;
        margin-top: 64px;
    }
    &__img {
        position: absolute;
        right: 110px;
        bottom: 0;
        width: 422px;
    }
}

.what-buy {
    padding: 82px 0;
    &__items {
        margin-top: 120px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
    }
    &__item {
        padding: 32px;
        min-height: 232px;
        position: relative;
        background: #FFFFFF;
        box-shadow: 0px 4px 25px rgba(172, 132, 254, 0.15);
        border-radius: 16px;
        display: flex;
        align-items: flex-end;
        &-icon {
            background: #F4EEFF;
            position: absolute;
            border-radius: 50%;
            width: 136px;
            height: 136px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 32px;
            transform: translateY(-50%);
        }
        &-title {
            font-size: 24px;
            line-height: 150%;
            height: 72px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
}

.how-much {
    padding: 50px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 64px;
        background: #FAFAFA;
        border-radius: 24px;
    }
    &__left {
        width: 430px;
        flex-shrink: 0;
        margin-right: 20px;
    }
    &__right {
        max-width: 700px;
        flex-grow: 1;
    }
    &__desc {
        line-height: 167%;
        color: $grey;
        margin-top: 24px;
    }
    &__btn {
        margin-top: 39px;
        width: 382px;
        height: 84px;
        max-width: 100%;
    }
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 68px;
    }
    &__item {
        &-icon {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #F4EEFF;
        }
        &-title {
            font-weight: 500;
            font-size: 24px;
            line-height: 125%;
            margin-top: 24px;
            max-width: 210px;
        }
    }
}

.contacts {
    margin-top: -20px;
    overflow: hidden;
    &__inner {
        padding: 200px 0 180px;
        position: relative;
    }
    &__map {
        position: absolute;
        bottom: -244px;
        left: 903px;
        border-radius: 50%;
        overflow: hidden;
        width: 971px;
        height: 944.52px;
    }
    &__items {
        margin-top: 64px;
        max-width: 530px;
        a {
            &:hover {
                color: $blue;
                path {
                    fill: $blue;
                }
            }
        }
    }
    &__item {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 24px;
        line-height: 125%;
        &:not(:last-child) {
            margin-bottom: 48px;
        }
        svg {
            margin-right: 16px;
        }
    }
}

@media screen and (max-width: 1500px) {
    .main {
        &__inner {
            padding-right: 0;
        }
        &__img {
            left: 720px;
        }
        &__title,
        &__desc {
            max-width: 640px;
        }
    }
    .contacts {
        &__map {
            left: 700px;
        }
    }
}

@media screen and (max-width: 1400px) {
    .main {
        &__img {
            left: 650px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .money-back {
        padding: 50px 0;
        &__inner {
            margin-top: 50px;
        }
        &__left {
            width: 550px;
        }
    }
    .how-sell {
        padding: 50px 0;
    }
    .contacts {
        &__map {
            left: 530px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        &__title,
        &__desc {
            max-width: 520px;
        }
        &__img {
            width: 500px;
            left: 580px;
        }
    }
    .money-back {
        &__title {
            max-width: 570px;
        }
        &__left {
            width: 45%;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__list {
            margin-top: 48px;
            li {
                &:not(:last-child) {
                    margin-bottom: 32px;
                }
            }
        }
        &__btn {
            margin-top: 32px;
        }
    }
    .consult {
        padding: 150px 0 50px;
        &__inner {
            padding: 32px;
        }
        &__img {
            width: 320px;
            right: 55px;
        }
    }
    .what-buy {
        padding: 50px 0;
        &__items {
            grid-template-columns: 1fr;
            gap: 68px;
            margin-top: 84px;
        }
        &__item {
            min-height: 129px;
            padding: 16px 16px 32px;
            &-icon {
                width: 75px;
                height: 75px;
                left: 16px;
                top: -36px;
                transform: unset;
                img {
                    width: 45px;
                }
            }
            &-title {
                height: unset;
                font-size: 20px;
            }
        }
    }
    .how-much {
        &__inner {
            padding: 32px;
        }
        &__left {
            width: 395px;
        }
        &__items {
            gap: 34px;
        }
    }
}

@media screen and (max-width: 992px) {
    .main {
        margin-top: 0;
        &__inner {
            padding: 0 0 50px;
        }
        &__img {
            position: static;
            max-width: 100%;
            margin: 0 auto;
        }
        &__title {
            margin-top: 20px;
            max-width: 100%;
        }
        &__desc {
            margin-top: 16px;
            max-width: 100%;
        }
        &__btn {
            margin-top: 32px;
        }
    }
    .money-back {
        &__title {
            max-width: 470px;
        }
        &__inner {
            display: block;
        }
        &__left {
            width: 500px;
            max-width: 100%;
            margin: 0 auto;
            padding-top: 0;
        }
        &__right {
            max-width: 100%;
            margin: 50px 0 0;
        }
    }
    .how-sell {
        &__items {
            grid-template-columns: 1fr;
            gap: 24px;
            margin-top: 24px;
        }
        &__item {
            display: block;
            padding: 16px;
            min-height: unset;
            &-num {
                font-size: 64px;
                line-height: 76px;
                position: static;
                display: block;
            }
            &-title {
                line-height: 217%;
            }
        }
    }
    .consult {
        padding-top: 50px;
        &__inner {
            border-radius: 16px;
        }
        &__img {
            display: none;
        }
        &__desc {
            margin-top: 16px;
            line-height: 217%;
        }
        &__btn {
            width: 279px;
            height: 58px;
            margin-top: 22px;
            max-width: 100%;
            font-size: 14px;
        }
    }
    .how-much {
        &__inner {
            display: block;
            position: relative;
            padding: 16px 16px 136px;
        }
        &__desc {
            margin-top: 16px;
            line-height: 217%;
        }
        &__left {
            width: 100%;
        }
        &__right {
            margin-top: 62px;
            max-width: 100%;
        }
        &__item {
            &-title {
                font-size: 18px;
                line-height: 220%;
                margin-top: 24px;
            }
        }
        &__btn {
            position: absolute;
            bottom: 16px;
            left: 16px;
            height: 58px;
            width: 311px;
            font-size: 14px;
        }
    }
    .contacts {
        margin: 0;
        padding: 50px 0;
        &__inner {
            padding: 0;
        }
        &__map {
            display: none;
        }
        &__items {
            margin-top: 32px;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 24px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &__desc {
            line-height: 2;
        }
        &__btn {
            max-width: 100%;
            height: 58px;
            font-size: 14px;
        }
    }
    .money-back {
        &__subtitle {
            font-size: 16px;
            line-height: 175%;
        }
        &__list {
            margin-top: 32px;
            li {
                min-height: 32px;
                padding-left: 48px;
                line-height: 217%;
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
                &:before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    width: 32px;
                    height: 32px;
                    background-size: 18px auto;
                }
            }
        }
        &__btn {
            height: 58px;
            width: 343px;
            max-width: 100%;
            font-size: 14px;
        }
    }
    .how-sell {
        &__title {
            max-width: 250px;
        }
    }
    .consult {
        &__title {
            max-width: 170px;
            line-height: 138%;
        }
    }
    .what-buy {
        &__title {
            max-width: 200px;
        }
        &__item {
            &-title {
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    .how-much {
        &__btn {
            width: calc(100% - 32px);
        }
        &__item {
            &-icon {
                width: 44px;
                height: 44px;
                img {
                    width: 24px;
                }
            }
            &-title {
                font-size: 10px;
            }
        }
    }
    .contacts {
        &__item {
            font-size: 14px;
            line-height: 186%;
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }
}