@import 'vars';
@import 'mixins';
.modal-backdrop {
    &.show {
        background: rgba(74, 73, 73, 0.6);
        opacity: 1;
    }
}

.modal {
    &-dialog {
        padding: 88px;
        background: #FFFFFF;
        border-radius: 30px;
        max-width: 1251px;
        pointer-events: unset;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__close {
        background-color: transparent;
        &:hover {
            path {
                fill: $blue;
            }
        }
    }
    &__content {
        margin-top: 32px;
    }
    &__form {
        &-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px 121px;
        }
        &-btn {
            width: 292px;
            height: 84px;
            margin-top: 64px;
        }
    }
}

.modal2 {
    .modal {
        &-dialog {
            max-width: 750px;
            padding: 64px;
        }
        &__form {
            &-grid {
                grid-template-columns: 1fr;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .modal {
        &-dialog {
            padding: 32px;
            border-radius: 16px;
        }
        &__form {
            &-grid {
                gap: 24px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .modal {
        &__form {
            &-grid {
                grid-template-columns: 1fr;
            }
            &-btn {
                margin-top: 48px;
                height: 58px;
                width: 100%;
                font-size: 14px;
            }
        }
    }
}